.title {
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
  border: 4px solid green;
}
.cen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.cen2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.foot {
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
  border: 4px solid green;
}
